<!-- ======= Hero Section ======= -->
<section id="hero">
  <div
    id="heroCarousel"
    class="carousel slide carousel-fade"
    data-ride="carousel"
  >
    <div class="carousel-inner" role="listbox">
      <!-- Slide 1 -->
      <div
        class="carousel-item active"
        style="background-image: url(assets/img/slide/hanselgretel.jpg);"
      >
        <div class="container">
          <div class="carousel-content animated fadeInUp">
            <h2>Hansel & Gretel</h2>
            <p>
              Directed by: Oz Perkins <br />
              Starring: Sophia Lillis, Sammy Leakey, Alice Krige
            </p>
            <p>
              When their mother descends into madness, siblings Gretel and
              Hansel must fend for themselves in the dark and unforgiving woods.
              Hungry and scared, they fortuitously stumble upon a bounty of food
              left outside an isolated home. Invited inside by the seemingly
              friendly owner, the children soon suspect that her generous but
              mysterious behaviour is part of a sinister plan to do them harm.
            </p>
            <div class="text-center">
              <a href="" class="btn-get-started">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div
        class="carousel-item"
        style="background-image: url(assets/img/slide/mulan.jpg);"
      >
        <div class="container">
          <div class="carousel-content animated fadeInUp">
            <h2>Mulan</h2>
            <p>
              Directed by: Niki Caro <br />
              Starring: Yifei Liu, Jet Li, Donnie Yen, Gong Li
            </p>
            <p>
              To save her ailing father from serving in the Imperial Army, a
              fearless young woman disguises herself as a man to battle northern
              invaders in China.
            </p>
            <div class="text-center">
              <a href="" class="btn-get-started">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div
        class="carousel-item"
        style="background-image: url(assets/img/slide/weathering.jpg);"
      >
        <div class="container">
          <div class="carousel-content animated fadeInUp">
            <h2>Weathering with You</h2>
            <p>
              Directed by: Makoto Shinkai <br />
              Starring: Kotaro Daigo, Nana Mori, Tsubasa Honda, Shun Oguri,
              Sakura Kiryu
            </p>
            <p>
              The latest animated adventure from Makoto Shinkai, the acclaimed
              director of Your Name, centers on a pair of teens, one of whom can
              control the weather, who meet and form a bond with each other,
              before one of them reveals a secret that will change both of them
              forever.
            </p>
            <div class="text-center">
              <a href="" class="btn-get-started">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a
      class="carousel-control-prev"
      href="#heroCarousel"
      role="button"
      data-slide="prev"
    >
      <span
        class="carousel-control-prev-icon bx bx-left-arrow"
        aria-hidden="true"
      ></span>
      <span class="sr-only">Previous</span>
    </a>

    <a
      class="carousel-control-next"
      href="#heroCarousel"
      role="button"
      data-slide="next"
    >
      <span
        class="carousel-control-next-icon bx bx-right-arrow"
        aria-hidden="true"
      ></span>
      <span class="sr-only">Next</span>
    </a>

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3>
            Book your screening and special events at
            <span>Cinema World</span>!
          </h3>
          <p>Click on View Now Showing to see what's on.</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <!-- <a class="cta-btn align-middle" href="pages/reservations.html">Book now</a> -->
          <a class="cta-btn align-middle" href="pages/nowshowing.html"
            >View now showing</a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- End Cta Section -->

  <!-- ======= Coming Soon Section ======= -->
  <section id="services" class="s">
    <div class="container">
      <div class="section-title">
        <h2><strong> NEXT PICTURE </strong></h2>
      </div>

      <div class="row" id="soon">
        <!-- <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <img src="assets/img/coming/sonic.jpg" class="img-fluid" alt="">
            <div class="withpadding">
              <h5 class="title">Sonic the Hedgehog</h5>
              <p class="description">Directed by: Jeff Fowler
              <br> Starring: James Marsden, Ben Schwartz, Jim Carrey, Tika Sumpter, Neal McDonough
              <br> Opening on: February 14, 2020</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <img src="assets/img/coming/sonic.jpg" class="img-fluid" alt="">
            <div class="withpadding">
              <h5 class="title">Sonic the Hedgehog</h5>
              <p class="description">Directed by: Jeff Fowler
              <br> Starring: James Marsden, Ben Schwartz, Jim Carrey, Tika Sumpter, Neal McDonough
              <br> Opening on: February 14, 2020</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <img src="assets/img/coming/sonic.jpg" class="img-fluid" alt="">
            <div class="withpadding">
              <h5 class="title">Sonic the Hedgehog</h5>
              <p class="description">Directed by: Jeff Fowler
              <br> Starring: James Marsden, Ben Schwartz, Jim Carrey, Tika Sumpter, Neal McDonough
              <br> Opening on: February 14, 2020</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <img src="assets/img/coming/sonic.jpg" class="img-fluid" alt="">
            <div class="withpadding">
              <h5 class="title">Sonic the Hedgehog</h5>
              <p class="description">Directed by: Jeff Fowler
              <br> Starring: James Marsden, Ben Schwartz, Jim Carrey, Tika Sumpter, Neal McDonough
              <br> Opening on: February 14, 2020</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- End Coming Soon Section -->
</main>
<!-- End #main -->
